<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    <h1>about Page</h1>
    <p>Some text here</p>
    <p>velikim slovima:{{malaSlovaUVelika 'neki tekst'}}</p>
    {{> footer}}    <!-- pozivamo drugi template -->
  </body>

</html>

